.App {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  color: var(--text_color);
}

.HomepageBackground {
  background: url("https://i.pinimg.com/originals/08/29/cc/0829cc1818d40b77f11df5740b264feb.jpg") no-repeat;
  background-size: cover;
}


:root {
  --text_color: black;
  --link_color: #3366bb;
  --box_shadow_color: rgba(0,0,0,0.5);
  --secondary_color: #38485C;
  --test_color: #096192;
}

@media (orientation: landscape) {
  :root {
    --important_size: calc(1.7rem + 1vw);
    --title_size: calc(1.5rem + 1vw);
    --section_size: calc(1.2rem + 1vw);
    --sub_section_size: calc(0.75rem + 1vw);
    --text_size: calc(0.2rem + 1vw);
    --small_size: calc(0.075rem + 1vw);
  }

  @media (max-width: 915px) {
    :root {
      --important_size: calc(1.7rem + 1vw);
      --title_size: calc(1.5rem + 1vw);
      --section_size: calc(1.2rem + 1vw);
      --sub_section_size: calc(0.75rem + 1vw);
      --text_size: calc(0.2rem + 1vw);
      --small_size: calc(0.075rem + 1vw);
    }
  }
}

@media (orientation: portrait) {
  :root {
    --important_size: calc(1.8rem + 1vw);
    --title_size: calc(1.6rem + 1vw);
    --section_size: calc(1.3rem + 1vw);
    --sub_section_size: calc(0.75rem + 1vw);
    --text_size: calc(0.6rem + 1vw);
    --small_size: calc(0.25rem + 1vw);
  }
}