.Container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-size: 2em;
    font-weight: bold;
}

.Separator {
    content: "";
    background-color: #d3d3d3;
    width: 10em;
    height: 1px;
    margin-top: 0.5em;
}

.Body {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.LeftSection {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Description {
    text-align: left;
    line-height: 1.75em;
}

.RightSection {
    width: 25%;
    height: 100%;
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}