.AngledRight {
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200px;
    background-color: white;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    z-index: 0;
}

.AngledLeft {
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200px;
    background-color: white;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    z-index: 0;
}
