/* Style */

.Appear {
    animation: appear 1s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation: appear 1s ease-in;
    -webkit-animation-fill-mode: forwards;
}

.DelayedAppear {
    animation: appear 1s ease-in;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation: appear 1s ease-in;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
}

.Shine {
    content: '';
    position: absolute;
    background-image: linear-gradient(
            110deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, 0) 70%
    );
    height: 100%;
    width: 150px;
    top: 0;
    left: -150px;
    animation: shine 5s 2 ease-in-out;
    animation-delay: 1s;
    -webkit-animation: shine 5s 2 ease-in-out;
    -webkit-animation-delay: 1s;
}

.DelayedShine {
    content: '';
    position: absolute;
    background-image: linear-gradient(
            110deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, 0) 70%
    );
    height: 100%;
    width: 150px;
    top: 0;
    left: -150px;
    animation: shine 5s 2 ease-in-out;
    animation-delay: 3s;
    -webkit-animation: shine 5s 2 ease-in-out;
    -webkit-animation-delay: 3s;
}

.Matrix {
    position: absolute;
    background-image: url('https://cdn.wallpapersafari.com/84/22/Jz6bAs.gif');
    width: 100vw;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: flash 10s 1 ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: flash 10s 1 ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.FadeIn {
    position: relative;
    animation: fadeIntoScreen 2s linear;
    -webkit-animation: fadeIntoScreen 2s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.RotateFadeIn {
    animation: rotateFadeIntoScreen 2s linear;
    -webkit-animation: rotateFadeIntoScreen 2s linear;
}

.ButtonGlow {
    animation: glow 1300ms infinite;
    -webkit-animation: glow 1300ms infinite; 
}

.Tilt {
    animation: tilt 5s 3 linear;
    -webkit-animation: tilt 5s 3 linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.VerticalScroll {
    animation: fallingScroll 75s linear infinite;
    -webkit-animation: fallingScroll 75s linear infinite;
}

.Spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.Expand {
    animation: expand-disappear 1.5s ease-in;
    -webkit-animation: expand-disappear 1.5s ease-in;
}

.LeftSlide {
    animation: slideInLeft 3s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation: slideInLeft 3s ease-out;
    -webkit-animation-fill-mode: forwards;
}

.RightSlide {
    animation: slideInRight 3s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation: slideInRight 3s ease-out;
    -webkit-animation-fill-mode: forwards;
}

.UnCollapse {
    animation: uncollapse 0.5s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation: uncollapse 0.5s ease-out;
    -webkit-animation-fill-mode: forwards;
}

@media(orientation: portrait) {
    .Shine {
        width: 130px;
    }

    .DelayedShine {
        width: 130px;
    }
}

/* Animation Keyframes */

@keyframes fadeIntoScreen {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
@-webkit-keyframes fadeIntoScreen {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}

@keyframes rotateFadeIntoScreen {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate3d(100px, 100px, 0);
    }
  
    100% {
      opacity: 1;
      transform: rotate(45deg) none;
    }
  }
  
@-webkit-keyframes rotateFadeIntoScreen {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate3d(100px, 100px, 0);
    }
  
    100% {
      opacity: 1;
      transform: rotate(45deg);
    }
}

@-webkit-keyframes glow {
    0% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
      }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
    }
}

@keyframes glow {
    0% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
      }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
    }
}

@-webkit-keyframes tilt {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(-45deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(45deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes tilt {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(-45deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(45deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@-webkit-keyframes fallingScroll {
    0%{
        background-position: 0% 0%;
    }

    100%{
        background-position: 0% 100%;
    }
}

@keyframes fallingScroll {
    0%{
        background-position: 0% 0%;
    }

    100%{
        background-position: 0% 100%;
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes expand-disappear {
    from {
        opacity: 1;
        font-size: 0;
    }

    to {
        opacity: 0;
        font-size: 7em;
        display: none;
    }
}

@keyframes expand-disappear {
    from {
        opacity: 1;
        font-size: 0;
    }

    to {
        opacity: 0;
        font-size: 7em;
        display: none;
    }
}

@keyframes slideInLeft {
    from {
        position: relative;
        left: -100%;
    }

    to {
        left: 100%;
    }
}

@keyframes slideInRight {
    from {
        position: relative;
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@-webkit-keyframes slideInLeft {
    from {
        position: relative;
        left: -100%;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes slideInRight {
    from {
        position: relative;
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        width: auto;
    }

    to {
        opacity: 1;
        width: auto;
    }
}

@-webkit-keyframes appear {
    from {
        opacity: 0;
        width: auto;
    }

    to {
        opacity: 1;
        width: auto;
    }
}

@keyframes shine {
    0% {
        left: -150px;
    }

    20% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes shine {
    0% {
        left: -150px;
    }

    20% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes uncollapse {
    from {
        width: 0;
        border: none;
    }

    to {
        width: 80vw;

    }
}

@-webkit-keyframes uncollapse {
    from {
        width: 0;
        border: none;
    }

    to {
        width: 80vw;
    }
}