.NavLinks {
    height: 5vh;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    gap: 2em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #D7DBDF;
    align-items: center;
    border-radius: 0.25vmax;
    padding: 0px 16px;
    z-index: 9999;
}

.Link {
    text-decoration: none;
    color: var(--link_color);
    font-size: var(--sub_section_size);
}

.Link:hover {
    color: white;
}

@media (orientation: landscape) {
    @media (max-width: 915px) {

    }
}

@media (orientation: portrait) {
    .NavLinks {
        width: 100%;
        left: 0;
        justify-content: flex-end;
        padding: 0;
        gap: 6%;
    }

    .Link {
        font-size: var(--section_size);
        margin-right: 2%;
    }
}