.Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    
}

.Background {
    background: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzg4YTZhNjVkZjBlY2YyNmYzOTVmNDY1NjU2YTVkNDJkMTc4MTk2ZCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/FlodpfQUBSp20/giphy.gif');
    background-size: cover; 
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-repeat: repeat-y;
    background-position: center;
    animation: fallingScroll 2000s linear infinite;
}

@keyframes fallingScroll {
    0%{
        background-position: 0 10000%;
    }

    100%{
        background-position: 0 0;
    }
}

.SideImage {
    width: 20%;
    align-self: flex-start;
    position: absolute;
    bottom: 15%;
    right: 5%;
    animation: tilt 5s 3 linear;
    animation-fill-mode: forwards;
}

@keyframes tilt {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(-45deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(45deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.Image {
    width: 50%;
}

.ErrorText {
    font-weight: bold;
    font-size: var(--important_size);
    color: white;
}

.Button {
    padding: 15px 100px;
    border-radius: 40px;
    border: none; 
    animation: glow 1300ms infinite;
    -webkit-animation: glow 1300ms infinite; 
}

@-webkit-keyframes glow {
    0% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
      }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
    }
}

@keyframes glow {
    0% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
      }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        background-color: #00ac0f;
        box-shadow: 0 0 5px #00ac0f;
    }
}

.ButtonLink {
    text-decoration: none;
    color: white;
    font-size: var(--title_size);
    font-weight: bold;
}

.Button:hover {
    background: url('https://colorlib.com/etc/404/colorlib-error-404-10/img/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    animation: none;
    -webkit-animation: none;
}

.Button:hover .ButtonLink {
    color: white;
}

@media (orientation: landscape) {
    @media(max-width: 915px) {

    }
}

@media (orientation: portrait) {
    .Title {
        font-size: 10vmax;
    }
}