.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: var(--text_size);
}

.Hidden {
    display: none !important;
}

/* MARK: - HEADER */

.Header {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 900;
    color: white;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-left: 5%;
}

.HeaderInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.ProfilePhoto {
    width: 50%;
    max-width: 1000px;
    object-fit: contain;
    object-position: center;
    -o-object-position: center;
}

.Header img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

.Title {
    display: flex;
    flex-direction: column;
}

.Name {
    font-size: calc(5rem + 1vw);
    font-weight: bold;
    margin-top: 0.5vmax;
    margin-bottom: 0vmax;
}



.Position {
    font-size: calc(1.5rem + 1vw);
    font-weight: 500;
    margin-bottom: 1.5vmax;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
}

.DetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    margin-left: 2.5%;
    font-size: calc(1rem + 1vw);
}

.DetailContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.HeaderDetail {
    white-space: nowrap;
    overflow: hidden;
}

.ContactLink {
    color: var(--secondary_link_color);
    text-decoration: none;
}

.ContactLink:hover {
    color: red;
}

.ButtonGroup {
    margin-top: 1.5vmax;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: 1vmax;
    margin-right: 1vmax;
    justify-content: space-evenly;
}

.Button {
    background-color: white;
    border: 0.1px solid rgba(0,0,0,0.2);
    border-radius: 2vmax;
    padding: 0.6em 1.1em;
    font-size: calc(1rem + 1vw);
    white-space: nowrap;
    color: var(--secondary_link_color);
    font-weight: 700;
    text-align: center;
    width: fit-content;
}

.Button:hover {
    border: 0.1px solid blue;
    color: white;
    background: linear-gradient( 135deg,
        #1cb5e0 25%, #015194 100%);
}

.HeaderContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
}

/* MARK: - ABOUT ME */

.AboutMe {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0 0 8rem;
    scroll-behavior: smooth;
    z-index: 2;
}

/* MARK: - SKILLS */

.Skills {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: var(--background);
    padding: 8rem 0 12rem;
    scroll-behavior: smooth;
    z-index: 1;
}

/* MARK: - EXPERIENCE */

.Experience {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    min-height: 100vh;
    z-index: 1;
}

/* MARK: - Button to go to top of the page */
.TopButton {
    position: fixed;
    bottom: 1%;
    height: 3vmax;
    width: 3vmax;
    border-radius: 1.5vmax;
    display: none;
    z-index: 999;
}

.TopButtonIcon {
    width: 1.5vmax;
    height: 1.5vmax;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Black {
    background-color: rgba(255,255,255,0.5);
    border: 2px solid white;
}

.Black .TopButtonIcon {
    color: black;
}

.White {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid black;
}

.White .TopButtonIcon {
    color: white;
}

.Black:hover {
    background-color: white !important;
}

.White:hover {
    background-color: black !important;
}

@media (orientation: landscape) {
    @media (max-width: 915px) {

        .Header {
            gap: 5vw;
        }

        .ProfilePhoto {
            object-fit: contain;
            width: 40%;
            position: relative;
            top: -10%;
        }

        .Name {
            margin: 0;
            font-size: calc(2rem + 1vw);
        }

        .Position {
            margin: 0;
            font-size: calc(1rem + 1vw);
        }

        .ButtonGroup {
            margin: 0;
            gap: 2.5vw;
            justify-content: space-evenly;
        }

        .Button {
            padding: 0.5em 0.5em;
        }

        .TopButton {
            height: 4.5vmax;
            width: 4.5vmax;
            border-radius: 2.25vmax;
        }
        
        .TopButtonIcon {
            width: 2.25vmax;
            height: 2.25vmax;
        }
    }
}

@media (orientation: portrait) {
    .Header {
        margin: 0 !important;
        padding: 0 !important;
        flex-direction: column;
        justify-content: center;
        height: 85vh;
        overflow: visible;
    }

    .ProfilePhoto {
        order: 0;
        width: 70%;
    }

    .HeaderInfo {
        order: 1;
        gap: 4vh;
        width: 100vw;
    }

    .Name {
        font-size: calc(3rem + 1vw);
        margin: 0;
    }

    .Position {
        font-size: calc(1.275rem + 1vw);
    }

    .DetailsContainer {
        font-size: calc(1.25rem + 1vw);
    }

    .ButtonGroup {
        gap: 10vw;
        margin: 0 auto;
        width: 80vw;
        justify-content: space-evenly;
    }

    .Button {
        padding: 0.5em 1em;
        border-radius: 3%;
        
    }

    .TopButton {
        height: 5vmax;
        width: 5vmax;
        border-radius: 2.5vmax;
    }
    
    .TopButtonIcon {
        width: 2.5vmax;
        height: 2.5vmax;
    }
}