.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Stack {
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}