.Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--text_size);
    position: fixed;
    z-index: 1;
}

.Background {
    background: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80');
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    animation: fallingScroll 2500s infinite linear;
    -webkit-animation: fallingScroll 2500s infinite linear;
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

@-webkit-keyframes fallingScroll {
    0%{
        background-position: 0 10000%;
    }

    100%{
        background-position: 0 0;
    }
}

@keyframes fallingScroll {
    0%{
        background-position: 0 10000%;
    }

    100%{
        background-position: 0 0;
    }
}

.DropDown {
    margin: auto;
}

.DropDownLabel {
    height: 3vmax;
    width: 20vmax;
    margin-top: 5%;
    font-size: var(--text_size);
    text-align: center;
}

.VStack {
    width: 80%;
    height: 100%;
    gap: 1vh;
}

.VStackBody {
    border: 0.5px dotted #f3f3f3;
    border-top: none;
    border-bottom: none;
    background-color: black;
    height: 80vh;
}

.Project {
    display: inline-block;
    width: auto;
    height: auto;
    padding-bottom: 2%;
    color: white;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.Title {
    text-align: center;
    font-size: var(--important_size);
    text-decoration: none;
}

.LeftDivider {
    width: 40%;
    height: 2px;
    background: linear-gradient(45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
    margin-left: 5%;
}

.RightDivider {
    width: 40%;
    height: 2px;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 100%);
    margin-right: 5%;
}

.SubHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 4vmax;
}

.Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.Github {
    height: 3vmax;
    width: 3vmax;
    color: rgba(255,255,255, 0.8);
}

.Github:hover {
    height: 4vmax;
    width: 4vmax;
    color: white;
}

.Github::selection {
    height: 4vmax;
    width: 4vmax;
    color: white;
}

.Website {
    height: 2.7vmax;
    width: 2.7vmax;
    color: rgba(255,255,255, 0.8);
}

.Website:hover {
    height: 3.7vmax;
    width: 3.7vmax;
    color: white;
}

.Website::selection {
    height: 3.7vmax;
    width: 3.7vmax;
    color: white;
}

.Summary {
    font-size: calc(0.35rem + 1vw);
    line-height: 4vh;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.Body {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.BodyMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.UserStories {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    list-style-type: circle;
    width: 60%;
    margin-right: 10%;
}

.ImageContainer {
    width: 30vmax;
    height: 30vmax;
    position: relative;
}

.PlaceHolderImage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: center;
    align-items: center;
}

.LoadingText {
    font-size: var(--section_size);
}

.Spinner {
    border: 16px solid var(--link_color);
    border-top-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 30vmax;
    height: 30vmax;
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

.Hidden {
    visibility: hidden;
}

.TechStackList {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    font-size: var(--small_size);
    align-self: center;
}

.VSeparator {
    border: 0.9px solid #d3d3d3;
    height: 1em;
}

@media (orientation: landscape) {
    @media(max-width: 915px) {
        .Summary {
            line-height: 4vh;
            height: 20vh;
            text-align: start;
            width: 80%;
            margin: auto;
        }

        .DropDownLabel {
            margin-top: 20%;
        }

        .Spinner {
            border-width: 8px;
            height: 40px;
            width: 40px;
        }

        .UserStories {
            display: none;
        }

        .ImageContainer {
            height: 50vw;
            width: 30vw;
        }
        
        .Image {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

@media (orientation: portrait) {
    .Container {
        padding-top: 10%;
        height: 90%;
        padding-bottom: 10%;
    }

    .VStack {
        width: 100%;
    }

    .Links {
        gap: 4vw;
    }

    .Summary {
        font-size: var(--text_size);
        line-height: 2.25vh;
        text-align: start;
        width: 95%;
        margin: auto;
        overflow: hidden;
        height: 14vh;
    }
    
    .BodyMain {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
    }
    
    .UserStories {
        display: none;
    }

    .ImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 30vmax;
        height: 50vmax;
    }
    
    .Image {
        width: 100%;
        height: 100%;
        align-self: center;
    }
    
    .TechStackList {
        font-size: calc(0.5rem + 1vw);
    }
    
    .DropDownLabel {
        height: auto;
        font-size: calc(1.1rem + 1vw);
    }

    .Spinner {
        border-width: 8px;
        height: 40px;
        width: 40px;
    }
}