.Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzg4YTZhNjVkZjBlY2YyNmYzOTVmNDY1NjU2YTVkNDJkMTc4MTk2ZCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/FlodpfQUBSp20/giphy.gif') no-repeat;
    background-size: cover;
    font-size: var(--text_size);
}

.DropDown {
    margin: auto;
}

.DropDownLabel {
    height: 3vmax;
    width: 20vmax;
    margin-top: 5%;
    font-size: var(--text_size);
    text-align: center;
}

.VStack {
    width: 80%;
    height: 100%;
    gap: 1vh;
}

.VStackBody {
    border: 0.5px dotted #f3f3f3;
    border-top: none;
    border-bottom: none;
    background-color: black;
    height: 80vh;
}

.Project {
    display: inline-block;
    width: auto;
    height: auto;
    padding-bottom: 2%;
    color: white;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.Title {
    text-align: center;
    font-size: var(--important_size);
    text-decoration: none;
}

.LeftDivider {
    width: 40%;
    height: 2px;
    background: linear-gradient(45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
    margin-left: 5%;
}

.RightDivider {
    width: 40%;
    height: 2px;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 100%);
    margin-right: 5%;
}

.SubHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 4vmax;
}

.Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.Github {
    height: 3vmax;
    width: 3vmax;
    color: rgba(255,255,255, 0.8);
}

.Github:hover {
    height: 4vmax;
    width: 4vmax;
    color: white;
}

.Github::selection {
    height: 4vmax;
    width: 4vmax;
    color: white;
}

.Website {
    height: 2.7vmax;
    width: 2.7vmax;
    color: rgba(255,255,255, 0.8);
}

.Website:hover {
    height: 3.7vmax;
    width: 3.7vmax;
    color: white;
}

.Website::selection {
    height: 3.7vmax;
    width: 3.7vmax;
    color: white;
}

.Summary {
    font-size: calc(0.35rem + 1vw);
    line-height: 4vh;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.Body {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.BodyMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.UserStories {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    list-style-type: circle;
    width: 60%;
    margin-right: 10%;
}

.Image {
    object-fit: cover;
    width: 30vmax;
    height: 30vmax;
    align-self: flex-start;
}

.TechStackList {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    font-size: var(--small_size);
    align-self: center;
}

.VSeparator {
    border: 0.9px solid #d3d3d3;
    height: 1em;
}

@media (orientation: landscape) {
    @media(max-width: 915px) {
        .Summary {
            line-height: 4vh;
            height: 20vh;
            text-align: start;
            width: 80%;
            margin: auto;
        }

        .DropDownLabel {
            margin-top: 20%;
        }
    }
}

@media (orientation: portrait) {
    .Container {
        margin-top: 10%;
        height: 90%;
    }

    .VStack {
        width: 100%;
    }

    .Links {
        gap: 4vw;
    }

    .Summary {
        font-size: var(--text_size);
        line-height: 2.25vh;
        text-align: start;
        width: 95%;
        margin: auto;
        overflow: hidden;
        height: 14vh;
    }
    
    .BodyMain {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
    }
    
    .UserStories {
        display: none;
    }
    
    .Image {
        width: 60%;
        height: 100%;
        align-self: center;
    }
    
    .TechStackList {
        font-size: calc(0.5rem + 1vw);
    }
    
    .DropDownLabel {
        height: auto;
        font-size: calc(1.1rem + 1vw);
    }
}