.Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: var(--text_size);
}

.RightContainer ul {
    margin-top: 1%;
}

/* MARK: - Left Container */

.LeftContainer {
    width: 20%;
    background-color: var(--secondary_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-bottom: 5vh;
}

.Photo {
    width: 15vw;
    height: 15vw;
    border-radius: 7.5vw;
    object-fit: cover;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3), -2px -2px 2px 1px rgba(0, 0, 0, 0.3);
    margin-top: 3vh;
}

.JobTitle {
    color: white;
    font-size: var(--section_size);
}

.HSeparator {
    border: 0.8px solid #d3d3d3;
    width: 15vw;
}

.SkillsContainer {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 2vh;
    margin-left: 10%;
}

.SkillsLabel {
    font-size: var(--sub_section_size);
    font-weight: 500;
}

.SkillsTable {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.SkillRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.Skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-size: var(--text_size);
    width: 10vw;
}

.SkillImageWrapper {
    background-color: white;
    padding: 4px;
    border-radius: 0.25vw;
}

.SkillImage {
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    object-fit: cover;
}

/* MARK: - Right Container */

.RightContainer {
    width: 80%;
    background-color: #F2F3FA;
}

.Title {
    text-align: center;
    font-size: var(--important_size);
    color: var(--secondary_color);
}

.Link {
    text-decoration: none;
    color: var(--link_color);
    font-size: var(--text_size);
}

.Link:hover {
    color: red;
}

.VSeparator {
    border: 0.9px solid #d3d3d3;
    height: 1em;
}

.SubTitleRow {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.SubTitle {
    font-size: var(--text_size);
}

.ResumeSections {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5vh;
}

.Section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.SectionLabel {
    color: var(--secondary_color);
    font-size: var(--section_size);
    font-weight: 600;
}

.SubSections {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.RowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SectionTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.SectionTitle {
    font-weight: bold;
}

.SectionAttribute {
    font-style: italic;
}

.EducationList {
    margin-top: 1%;
    margin-left: 2%; 
    display: list-item; 
    list-style-type: disc;
}

@media (orientation: landscape) {
    @media(max-width: 915px) {
        .JobTitle {
            text-align: center;
        }

        .SkillName {
            font-size: var(--icon_text_size);
        }

        .RightContainer {
            font-size: 16px;
        }

        .RightContainer li {
            font-size: 16px;
        }

        .RowContainer {
            font-size: 16px;
        }

        .RowContainer a {
            font-size: 16px;
        }

        .SubTitleRow {
            font-size: 12px;
        }
    }
}

@media (orientation: portrait) {
    .Container {
        margin-top: 5vh;
    }

    /* LEFT */

    .LeftContainer {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        padding-bottom: 5vh;
    }

    .JobTitle {
        text-align: center;
    }

    .SkillsContainer {
        flex-direction: column;
        align-content: flex-start;
        margin-left: 0%;
    }
    
    .SkillsLabel {
        margin-left: 10%;
    }
    
    .Skill {
        flex-direction: column;
        height: 10vmax;
    }
    
    .SkillImageWrapper {
        border-radius: 0.50vmax;
    }
    
    .SkillImage {
        width: 4vmax;
        height: 4vmax;
    }

    .SkillName {
        text-align: center;
        font-size: var(--icon_text_size);
    }

    /* RIGHT */

    .RightContainer {
        width: 70%;
    }

    .SubTitleRow .VSeparator {
        height: 0;
        width: 10vmax;
    }
    
    .SubTitleRow {
        flex-direction: column;
        gap: 2px;
    }
    
    .ResumeSections {
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-size: var(--text_size);
    }
    
    .RowContainer {
        flex-direction: column;
    }
    
    .SectionTitleWrapper {
        gap: 1vw;
        justify-content: space-between;
    }

    .SectionTitleWrapper .VSeparator {
        display: none;
    }

    .EducationList {
        margin-left: 10%;
    }
}