.Container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-size: var(--title_size);
    font-weight: bold;
}

.Separator {
    content: "";
    background-color: #d3d3d3;
    height: 1px;
    margin-bottom: 1em;
    border: 0.1px solid #d3d3d3;
}

.Body {
    width: 100%;
    padding-bottom: 2vmax;
}

.BodySection {
    width: 80%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8vmax;
    justify-content: center;  
}

.SkillContainer {
    border: 3px solid rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: white;
    color: black;
    border-radius: 0;
    transform: rotate(45deg);
    height: 9vmax;
    width: 9vmax;
    display: flex;
    justify-content: center;
}

.Hidden {
    display: none;
}

.SkillWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1em;
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
}

.SkillImage {
    width: 50%;
    height: 50%;
    background-color: transparent;
    object-fit: cover;
    display: flex;
    align-self: center;
}

.SkillName {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0;
}

@media (orientation: landscape) {
    @media (max-width: 915px) {

        .SkillContainer {
            height: 7.5vmax;
            width: 7.5vmax;
        }

        .SkillName {
            font-size: var(--icon_text_size);
        }
    }
}

@media (orientation: portrait) {
    .BodySection {
        width: 100%;
        height: 100%;
    }
    
    .SkillContainer {
        height: 10vmax;
        width: 10vmax;
    }

    .SkillName {
        font-size: var(--icon_text_size);
    }
}